*{
    margin: 0;
    padding: 0;
    border: 0;
    }
    .conteiner{
        display: grid;
        grid-auto-columns: repeat(5,1fr);
        grid-auto-rows: auto(60px 100px);
        gap:6px;
    }
      
    .item1{
    background-color: rgb(181, 43, 199);
    text-align: center;
    padding: 15px;
    justify-items: center;
    }
    
    .item2{
    background-color: rgb(50, 93, 156);
    text-align: center;
    padding: 15px;
    align-items: flex-end ;
    }
    
    .item3{
    background-color: aquamarine;
    text-align: center;
    padding: 15px;
    justify-items: flex-start;
    }
    .item4{
    background-color: rgb(127, 138, 255);
    text-align: center;
    padding: 15px;
    align-items: flex-end;
    }
    .item5{
    background-color: rgb(46, 183, 98);
    text-align: center;
    padding: 15px;
    align-items: flex-end;
    }