*{
    margin: 0;
    padding: 0;
    border: 0;
}
    .conteiner{
        display: grid;
        grid-column: repeat(2,1fr);
        gap:10px;
    }
      
.item1{
background-color: rgb(181, 43, 199);
text-align: center;
padding: 50px;
grid-column: 1;
}    
.item2{
background-color: rgb(50, 93, 156);
text-align: center;
padding: 50px;
grid-column: 1;
}
.item3{
background-color: aquamarine;
text-align: center;
padding: 50px;
grid-column: 2;
grid-row: 1;
}
.item4{
background-color: rgb(127, 138, 255);
text-align: center;
padding: 50px;
grid-column: 2;
    
}
.item5{
background-color: rgb(5, 129, 53);
text-align: center;
padding: 50px;
grid-column: 2;
}
@media(max-width:768px){
    body{
         background-color:rgb(198, 16, 16);
    }        
}
@media(max-height:769px){
    body{
         background-color:rgb(218, 97, 161);
    }        
}