*{
margin: 0;
padding: 0;
border: 0;
}
#pai{
width: 600px;
justify-content: center;
grid-row-start : 3 / 5;
}

body{
 width: 100%;
 display:flex;
 font-size: Arial,serif;
 justify-content: center;
 grid-column: 3/5;
 align-items: center;
 background-color: rgb(67, 107, 120);
}

fieldset{
    height: 250%;
    text-align: center;
    grid-column: 5/5;
    grid-row: 4/4;
    justify-content: center;
    align-content: center;
}

h1{
    text-align: center;
  font-size: Arial,serif; 
  
}

div{
width: 250%;
height: 300px;
grid-column: 4/5;
border: 12px solid #c6c3c5;
text-align: center;
justify-content: center;
 align-content: center;
}

label{
    width: 20px;
   font-size: Arial,initial,serif; 
   text-align: center;
}
input[type="Email"]::content, input[type="password"]:focus{
font-size: 30px;
font-size: italic;
box-sizing: border-box;

}

button[type="button"]:focus{
    width: 200px;
    background-color: rgb(32, 91, 91);

}
