*{
  margin:0;
  padding: 0;
  border: 0;
}
body{
  width: 500px; 
  height: 300px;
  background-color: rgb(139, 165, 192);
}
fieldset{
    width: 200px;
    height: 30px;
}
input[type="text"], input[type="text"],input[type="tel"]{
    width: 200px;
   height: 20px;
    
}
div{
display: block;
justify-content: center;
text-align: center;

}
legend{
 font-size: 20px; 
 text-align: center;  

}
